<section class="hero hero-broadcasts hero-broadcasts-locked">
  <aside class='hero-text'>
    <section class='hero-text-body'>
      <div class='field field-inline field-ice'>
        <input class='field-input' placeholder='Enter password to view broadcasts'>
        <button class='button button-ice field-button'>
          Unlock
        </button>
      </div>
      <a href='#' class='hero-text-body-footer'>
        Need access?
      </a>
    </section>
  </aside>
  <div class='hero-aside'>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
    <article class='item item-video item-video-placeholder'>
      <figure class='item-image'></figure>
      <span class='item-body'>
        <span class='item-body-heading'></span>
        <span class='item-body-subheading'></span>
      </span>
    </article>
  </div>
</section>

<div class='grid'>
  <div class='grid-item-5 grid-item-offset-1 grid-item-1200-6  grid-item-1100-8 grid-item-800-10 grid-item-700-12 grid-item-700-offset-0'>
    <section class='section section-broadcasts'>
      <h1 class='section-header'>
        <span class='h1 h text-bold'>Broadcasts</span>
      </h1>
      <section class='section-body h5'>
        Our library of brightest minds in tech sharing the most promising ideas with students.
      </section>
    </section>
  </div>
</div>

<div class='grid'>
  <div class='grid-item-4 grid-item-offset-1 grid-item-1100-6 grid-item-1100-offset-3 grid-item-800-10 grid-item-800-offset-1 grid-item-700-12 grid-item-700-offset-0'>
    <footer class='section section-request'>
      <header class='section-header'>
        <h4 class='h h5 text-bold section-header-headline'>Get access to our broadcasts.</h4>
        <h4 class='section-header-subheadline'>Enroll in our program to get access for yourself or your students.</h4>
      </header>
      <section class='section-body'>
        <div class='field'>
          <input class='field-input' placeholder='Your name'>
        </div>

        <div class='field'>
          <input class='field-input' placeholder='Email'>
        </div>

        <div class='field'>
          <input class='field-input' placeholder='Organization/School (optional)'>
        </div>

        <div class='field'>
          <textarea class='field-input' placeholder='Tell us a bit about yourself (optional)'></textarea>
        </div>
      </section>

      <footer class='section-footer'>
        <button class='button button-full button-ice field-button'>
          Request access
        </button>
      </footer>

    </footer>
    </div>
  </div>