<section class="hero hero-broadcasts">
  <aside class='hero-text'>
    <h1 class='hero-text-header'>
      Broadcasts
    </h1>
    <section class='hero-text-body'>
      Our library of brightest minds in tech sharing the most promising ideas with students.
    </section>
  </aside>
  <div class='hero-aside'>
    <fieldset>
      <input class='input'>
      <button class='button'>
        View
      </button>
    </fieldset>
  </div>
</section>

<footer class='section section-request'>
  <h4>Get access to our broadcasts.</h4>
  <h4>Enroll in our program to get access for yourself or your students.</h4>
  <a href=''>Enroll</a>
</footer>