<section class='section section-campuses' style='background-image: url({{site.url}}/images/bg/pattern-2.png)'>
  <header class='section-header h h4 text-bold text-rift'>
    Campuses
  </header>
  <ul class='section-body'>

    <li class='section-body-item'>
      <article class='card card-campus'>
        <header class='card-header'>
          <h6 class='h h4 text-light text-rift'>SLCC, Meadowbrook</h6>
          <h6 class='h h6 text-rift card-header-subheadline'>In conjunction with the Utah Refugee Education and Training Center</h6>

        </header>
        <footer class='card-footer'>
          <ul class='card-footer-details'>
            <li class='card-footer-details-item'>218 West 3900 South</li>
            <li class='card-footer-details-item'>Building B</li>
            <li class='card-footer-details-item'>Salt Lake City, UT 84107</li>
          </ul>
          <div class='card-footer-action'>
            <a class='button' href='https://goo.gl/maps/yK7Ru4JkT6y'>Map it</a>
          </div>
        </footer>
      </article>
    </li>
    <li class='section-body-item'>
      <article class='card card-campus card-campus-u'>
        <header class='card-header'>
          <h6 class='h h4 text-light text-rift'>University of Utah</h6>
          <h6 class='h h6 text-rift card-header-subheadline'>Center for Science &amp; Mathematics Education</h6>
        </header>
        <footer class='card-footer'>
          <ul class='card-footer-details'>
            <li class='card-footer-details-item'>155 South 1452 East</li>
            <li class='card-footer-details-item'>INSCC Building / Room 452</li>
            <li class='card-footer-details-item'>Salt Lake City, UT 84112</li>
          </ul>
          <div class='card-footer-action'>
            <a class='button' href='https://goo.gl/maps/LzxDtVVs3vN2'>Map it</a>
          </div>
        </footer>
      </article>
    </li>
  </ul>
</section>