<section class='section section-campuses' style='background-image: url(/wearemakers.io/images/bg/pattern-2.png)'>
  <header class='section-header h h4 text-bold text-rift'>
    Campuses
  </header>
  <ul class='section-body'>

    <li class='section-body-item'>
      <article class='card card-campus'>
        <header class='card-header'>
          <h6 class='h h4 text-light text-rift'>SLCC, Meadowbrook</h6>
          <h6 class='h h6 text-rift card-header-subheadline'>In conjunction with the Refugee Education and Training Center</h6>

        </header>
        <footer class='card-footer'>
          <ul class='card-footer-details'>
            <li class='card-footer-details-item'>218 West 3900 South</li>
            <li class='card-footer-details-item'>Salt Lake City, UT</li>
            <li class='card-footer-details-item'>84107</li>
          </ul>
          <div class='card-footer-action'>
            <a class='button' href='#'>Map it</a>
          </div>
        </footer>
      </article>
    </li>
    <li class='section-body-item'>
      <article class='card card-campus'>
        <header class='card-header'>
          <h6 class='h h4 text-light text-rift'>University of Utah</h6>
        </header>
        <footer class='card-footer'>
          <ul class='card-footer-details'>
            <li class='card-footer-details-item'>218 West 3900 South</li>
            <li class='card-footer-details-item'>Salt Lake City, UT</li>
            <li class='card-footer-details-item'>84107</li>
          </ul>
          <div class='card-footer-action'>
            <a class='button' href='#'>Map it</a>
          </div>
        </footer>
      </article>
    </li>
  </ul>
</section>