<article class='card card-course card-course-code'>
  <header class='card-header'>
    <img class='card-header-image' src='{{site.url}}/images/courses/code.png'>
    <h3 class='card-header-headline'>Introduction to coding</h3>
  </header>
  <section class='card-body'>
    This course provides an introduction to computer science via the Code.org curriculum and leverages a user-friendly graphical programming language catering to students being introduced to programming.
  </section>
  <footer class='card-footer'>
    <div class='card-footer-details'>
      <header class='card-footer-details-header'>
        Available @
      </header>
      <a href='#meadowbrook' class='card-footer-details-item'>
        SLCC, Meadowbrook
      </a>
    </div>
    <div class='card-footer-action'>
      <a class='button' data-modal-toggle='student' data-modal-auto-check='coding' onClick='modalWindow(this);'>Request info</a>
    </div>
  </footer>
</article>