<article class='section section-course-details' style='background-image: url({{site.url}}/wearearemakers.io/images/courses/details.png)'>
  <div class='section-text'>
    <h4 class='section-text-header'>
      Our courses are designed to help students succeed, from training to university to employment.
    </h4>
    <section class='section-text-body'>
      Students are taught by real-life professionals from some of the greatest tech companies. We make courses approachable with visual materials, hands-on training, and mentoring.
    </section>
  </div>
</article>