<article class='card card-course card-course-game'>
  <header class='card-header'>
    <img class='card-header-image' src='{{site.url}}/images/courses/game.png'>
    <h3 class='card-header-headline'>Video Game Design</h3>
  </header>
  <section class='card-body'>
    This is a two part project-based course. Part one is designed to provide technical proficiency in industry standard animation and game design software resulting in a portfolio of games. Students will gain exposure to artificial intelligence, augmented & virtual reality as well as advanced physics and math concepts. Part two focuses on preparing for certifications in key software used for students seeking additional employment credentials.
  </section>
  <footer class='card-footer'>
    <div class='card-footer-details'>
      <header class='card-footer-details-header'>
        Available @
      </header>
      <a href='#meadowbrook' class='card-footer-details-item'>
        SLCC, Meadowbrook
      </a>
      <a href='#uofu' class='card-footer-details-item'>
        University of Utah
      </a>
    </div>
    <div class='card-footer-action'>
      <a class='button' data-modal-toggle='student' data-modal-auto-check='game' onClick='modalWindow(this);'>Request info</a>
    </div>
  </footer>
</article>