<section class="hero hero-courses">
  <aside class='hero-text'>
    <h1 class='hero-text-header'>
      <span class='hero-text-line'>A course</span>
      <span class='hero-text-line'>for every</span>
      <span class='hero-text-line'>interest</span>
    </h1>
    <section class='hero-text-body'>
      <p>
      The base of our program is our Mindfulness, Brain Building & Breathing course. After building up creativity, reasoning, and problem solving skills, students can enroll in coding, game design, web development, and IT courses.</p>
      <p class='text-bold'>  Our courses are always available to students at no cost.</p>
    </section>
  </aside>
  <section class='hero-bg'><img class='hero-bg-image' src='{{site.url}}/wearearemakers.io/images/hero/courses.png'></section>
</section>