<article class='card card-course card-course-it'>
  <header class='card-header'>
    <img class='card-header-image' src='/images/courses/it.png'>
    <h3 class='card-header-headline'>Information Technology Careers</h3>
  </header>
  <section class='card-body'>
    This course covers computer hardware and software topics as laid out in the industry standard CompTIA A+ certification curriculum. It includes classroom and laboratory components. Upon completion, students are prepared to take the A+ certification exam. Successful students will be highly employable as an IT Helpdesk or Jr. Systems Administrator.
  </section>
  <footer class='card-footer'>
    <div class='card-footer-details'>
      <header class='card-footer-details-header'>
        Available @
      </header>
      <a href='#meadowbrook' class='card-footer-details-item'>
        SLCC, Meadowbrook
      </a>
      <a href='#uofu' class='card-footer-details-item'>
        University of Utah
      </a>
    </div>
    <div class='card-footer-action'>
      <a class='button' href='#'>Request info</a>
    </div>
  </footer>
</article>