<article class='card card-course card-course-mindfulness'>
  <header class='card-header'>
    <img class='card-header-image' src='/wearemakers.io/images/courses/mindfulness.png'>
    <h3 class='card-header-headline'>Mindfulness  + Brain Building</h3>
  </header>
  <section class='card-body'>
    This required foundational course leverages mindfulness training and engaging puzzles to improve creativity, concentration, memory, core mathematical reasoning & problem solving skills.
  </section>
  <footer class='card-footer'>
    <div class='card-footer-details'>
      <header class='card-footer-details-header'>
        Available @
      </header>
      <a href='#meadowbrook' class='card-footer-details-item'>
        SLCC, Meadowbrook
      </a>
      <a href='#uofu' class='card-footer-details-item'>
        University of Utah
      </a>
    </div>
    <div class='card-footer-action'>
      <a class='button' href='#'>Request info</a>
    </div>
  </footer>
</article>