<article class='card card-course card-course-volunteer'>
  <header class='card-header'>
    <img class='card-header-image' src='/images/courses/volunteer.png'>
    <h3 class='card-header-headline'>Want to help?</h3>
  </header>
  <section class='card-body'>
    <p>We welcome all volunteers. Our program simply wouldn’t work without them. </p>

    <p class="text-italic">We especially love guest speakers.</p>
  </section>
  <footer class='card-footer'>
    <div class='card-footer-action'>
      <a class='button' href='#'>Request info</a>
    </div>
  </footer>
</article>