<article class='card card-course card-course-web'>
  <header class='card-header'>
    <img class='card-header-image' src='{{site.url}}/wearemakers.io/images/courses/web.png'>
    <h3 class='card-header-headline'>Web Development</h3>
  </header>
  <section class='card-body'>
    This project-based course guides students through a sequence of website and web application creation using industry standard tools, design concepts and programming languages. Successful students will have a solid foundation from which to enter an intensive coding boot camp, build websites and apps as an entrepreneur or leverage on college applications.
  </section>
  <footer class='card-footer'>
    <div class='card-footer-details'>
      <header class='card-footer-details-header'>
        Available @
      </header>
      <a href='#meadowbrook' class='card-footer-details-item'>
        SLCC, Meadowbrook
      </a>
      <a href='#uofu' class='card-footer-details-item'>
        University of Utah
      </a>
    </div>
    <div class='card-footer-action'>
      <a class='button' href='#'>Request info</a>
    </div>
  </footer>
</article>