@mixin gridWidths {
  &-none {
    display: none !important
  }
  &-flex {
    display: flex !important
  }
  &-block {
    display: block !important
  }
  &-inline-block {
    display: inline-block !important
  }

  &-1 {
    width: 8.33333333% 
  }
  &-2 {
    width: 16.6666667% 
  }
  &-3 {
    width: 25% 
  }
  &-4 {
    width: 33.3333333% 
  }
  &-5 {
    width: 41.6666666% 
  }
  &-6 {
    width: 50% 
  }
  &-7 {
    width: 58.3333333% 
  }
  &-8 {
    width: 66.6666666% 
  }
  &-9 {
    width: 75% 
  }
  &-10 {
    width: 83.3333333% 
  }
  &-11 {
    width: 91.6666666% 
  }
  &-12 {
    width: 100%
  }

  &-offset {
    &-0 {
      margin-left: 0 
    }
    &-1 {
      margin-left: 8.33333333% 
    }
    &-2 {
      margin-left: 16.6666667% 
    }
    &-3 {
      margin-left: 25% 
    }
    &-4 {
      margin-left: 33.3333333% 
    }
    &-5 {
      margin-left: 41.6666666% 
    }
    &-6 {
      margin-left: 50% 
    }
    &-7 {
      margin-left: 58.3333333% 
    }
    &-8 {
      margin-left: 66.6666666% 
    }
    &-9 {
      margin-left: 75% 
    }
    &-10 {
      margin-left: 83.3333333% 
    }
    &-11 {
      margin-left: 91.6666666% 
    }
    &-12 {
      margin-left: 100%
    }
  }
}

.grid {
  @include display(flex);
  padding: 1.5rem;
  width: 100%;
  @media (max-width: 900px) {
    padding: .75rem;
  }
  @media (max-width: 350px) {
    padding: .333333rem;
  }
}

[class*='grid-item'] {
  display: block;
  position: relative;
  width: 25%;
  padding: 1.5rem;

  @media (max-width: 900px) {
    padding: .75rem;
  }
  @media (max-width: 350px) {
    padding: .333333rem;
  }
}

.grid {
  &-item {
    @include gridWidths();
  }
}