<div class='grid grid-nested'>
  <div class='grid-item-12'>
    <h3 class='h h3 text-bold'>Buttons</h3>
  </div>

  <div class='grid-item-4'>
    <h4 class='h h4 text-rift'>Colors</h4>
    <div class='gird grid-nested'>
      <div class='grid-item-12'>
        <a class='button'>.button</a>
      </div>
      <div class='grid-item-12'>
        <a class='button button-ice'>.button.button-ice</a>
      </div>
      <div class='grid-item-12'>
        <a class='button button-mint'>.button.button-mint</a>
      </div>
      <div class='grid-item-12'>
        <a class='button button-rocketship'>.button.button-rocketship</a>
      </div>
      <div class='grid-item-12 black-bg'>
        <a class='button button-white'>.button.button-white</a>
      </div>
      <div class='grid-item-12 '>
        <a class='button button-hollow'>.button.button-hollow</a>
      </div>
    </div>
  </div>

  <div class='grid-item-4'>
    <h4 class='h h4 text-rift'>Sizes</h4>
    <div class='gird grid-nested'>
      <div class='grid-item-12'>
        <a class='button'>.button</a>
      </div>
      <div class='grid-item-12'>
        <a class='button button-small'>.button.button-small</a>
      </div>
      <div class='grid-item-12'>
        <a class='button button-large'>.button.button-large</a>
      </div>
    </div>
  </div>
</div>