<div class='grid grid-nested'>
  <div class='col-12'>
    <h3 class='h h3 text-bold'>Grid</h3>
  </div>

  <div class='col-12'>
    <h3 class='h h4 text-rift'>
      Example grid
    </h3>
  </div>
  <code class='col-12'>
    &lt;div class='grid'&gt;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='col-4'&gt;
    <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 cols of 12
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='col-2'&gt;
    <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 cols of 12
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class='col-6'&gt;
    <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 cols of 12
    <br>
    &nbsp;&nbsp;&lt;/div&gt;
    <br>
    &lt;/div&gt;
  </code>

  <div class='col-12'>
    .col-12
  </div>
  <div class='col-11'>
    .col-11
  </div>
  <div class='col-10'>
    .col-10
  </div>
  <div class='col-9'>
    .col-9
  </div>
  <div class='col-8'>
    .col-8
  </div>
  <div class='col-7'>
    .col-7
  </div>
  <div class='col-6'>
    .col-6
  </div>
  <div class='col-5'>
    .col-5
  </div>
  <div class='col-4'>
    .col-4
  </div>
  <div class='col-3'>
    .col-3
  </div>
  <div class='col-2'>
    .col-2
  </div>
  <div class='col-1'>
    .col-1
  </div>
</div>