<div class='grid grid-nested'>
  <div class='col-12'>
    <h3 class='h h3 text-bold'>Text</h3>
  </div>
  <div class='col-4'>
    <h4 class='h h4 text-rift'>Sizes</h4>
    <h1 class='h h1'>.h.h1</h1>
    <h2 class='h h2'>.h.h2</h2>
    <h3 class='h h3'>.h.h3</h3>
    <h4 class='h h4'>.h.h4</h4>
    <h5 class='h h5'>.h.h5</h5>
    <h6 class='h h6'>.h.h6</h6>
    <h6 class='h h7'>.h.h7</h6>
    <h6 class='h h8'>.h.h8</h6>
    <h6 class='h h9'>.h.h9</h6>
    <h6 class='h h10'>.h.h10</h6>
  </div>

  <div class='col-4'>
    <h4 class='h h4 text-rift'>Typefaces</h4>
    <h1 class='text-rift'>.text-rift</h1>
    <h1 class='text-tundra'>.text-tundra</h1>
    <h1 class='text-europa'>.text-europa</h1>
  </div>

  <div class='col-4'>
    <h4 class='h h4 text-rift'>Colors</h4>
    <h1 class='accent-color'>.accent-color</h1>
    <h1 class='black-color'>.black-color</h1>
    <h1 class='white-color black-bg'>.white-color</h1>
    <h1 class='mint-color'>.mint-color</h1>
    <h1 class='ice-color'>.ice-color</h1>
    <h1 class='rocketship-color'>.rocketship-color</h1>
  </div>

</div>