<section class='section-involved' id='get-involved'>
  <h2 class='section-header'>
    <span class='section-header-label'>
      Get involved
    </span>
  </h2>
  <section class='section-body'>
    <div class='grid'>
      <div class='grid-item-4'>
        <a href='' style='background-image: url({{site.url}}/images/involved/donate.jpg)' class='card card-action card-action-donate'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Financial & hardware donations help the program and students directly.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-ice'>Donate</span>
            </span>
          </span>
        </a>
      </div>
      <div class='grid-item-4'>
        <a href='' style='background-image: url({{site.url}}/images/involved/volunteer.jpg)' class='card card-action card-action-volunteer'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Be a guest presenter, class-aide,  or 1-on-1 mentor.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-golden'>Volunteer</span>
            </span>
          </span>
        </a>
      </div>
      <div class='grid-item-4'>
        <a href='' style='background-image: url({{site.url}}/images/involved/hire.jpg)' class='card card-action card-action-hire'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Our alumni can add value to any business, startup or Fortune 500.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-rocketship'>Hire/intern students</span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </section>
</section>

<footer class='section-student'>
  <h2 class='section-header'>
    <span class='h h3 text-bold'>Ready to be a student?</span>
  </h2>
  <section class='section-body'>
    <a href='#' class='button'>
      Contact us
    </a>
  </section>
  <img class='section-footer' src='{{site.url}}/images/involved/student.png'>
</footer>