<h2 class=''>Get involved</h2>
<div class='grid'>
  <div class='col-4'>
    <a href='' class='card card-action'>
      <span class='card-header'>
        Financial & hardware donations help the program and students directly.
      </span>
      <span class='card-footer'>
        <span class='button'>Donate</span>
      </span>
    </a>
    <a href='' class='card card-action'>
      <span class='card-header'>
        Be a guest presenter, class-aide,  or 1-on-1 mentor.
      </span>
      <span class='card-footer'>
        <span class='button'>Volunteer</span>
      </span>
    </a>
    <a href='' class='card card-action'>
      <span class='card-header'>
        These students can add value to any business, startup or Fortune 500. 
      </span>
      <span class='card-footer'>
        <span class='button'>Hire/intern students</span>
      </span>
    </a>
  </div>
</div>
<section class='hero hero-student'>
  <aside class='hero-text'>
    <h2 class='hero-text-header'>
      Interested in becoming a student?
    </h2>
    <footer class='hero-text-footer'>
      <a href='#' class='button'>
        Contact us
      </a>
    </footer>
  </aside>
</section>