<section class='section-involved' id='get-involved'>
  <h2 class='section-header'>
    <span class='section-header-label'>
      Get involved
    </span>
  </h2>
  <section class='section-body'>
    <div class='grid'>
      <div class='grid-item-4 grid-item-800-8 grid-item-offset-800-2 grid-item-600-12 grid-item-offset-600-0'>
        <a href='https://www.paypal.com/donate/?token=lliHCj7KQR9OcFPPv0ZWNCqxhi-jv9IIR6fVh_IhXGN_yYgj3TmzDV5FesCedBe1xsBs8m' class='card card-action card-action-donate'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Financial & hardware donations help the program and students directly.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-ice'>Donate</span>
            </span>
          </span>
          <figure class='card-bg'>
            <img class='card-bg-image' src='/images/involved/donate.jpg'>
          </figure>
        </a>
      </div>
      <div class='grid-item-4 grid-item-800-8 grid-item-offset-800-2 grid-item-600-12 grid-item-offset-600-0'>
        <a data-modal-toggle='volunteer' onClick='modalWindow(this);' class='card card-action card-action-volunteer'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Be a guest presenter, class-aide,  or 1-on-1 mentor.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-golden'>Volunteer</span>
            </span>
          </span>
          <figure class='card-bg'>
            <img class='card-bg-image' src='/images/involved/volunteer.jpg'>
          </figure>
        </a>
      </div>
      <div class='grid-item-4 grid-item-800-8 grid-item-offset-800-2 grid-item-600-12 grid-item-offset-600-0'>
        <a data-modal-toggle='hire' onClick='modalWindow(this);' class='card card-action card-action-hire'>
          <span class='card-header'>
            <span class='card-header-headline'>
              Our alumni can add value to any business, startup or Fortune 500.
            </span>
            <span class='card-header-subheadline'>
              <span class='button button-rocketship'>Hire<span class='display-1000-none'>/intern students</span></span>
            </span>
          </span>
          <figure class='card-bg'>
            <img class='card-bg-image' src='/images/involved/hire.jpg'>
          </figure>
        </a>
      </div>
    </div>
  </section>
</section>

<footer class='section-student'>
  <h2 class='section-header'>
    <span class='h h3 text-bold'>Ready to be a student?</span>
  </h2>
  <section class='section-body'>
    <a data-modal-toggle='student' onClick='modalWindow(this);' class='button'>
      Contact us
    </a>
  </section>
  <img class='section-footer' src='/images/involved/student.png'>
</footer>