<div class='grid'>
  <div class='col-6'>
    <div class='h3'>
      We are a public-private partnership designed to enhance tech related job, entrepreneurial and educational opportunities for refugees and other underrepresented communities in Utah.
    </div>
    <div class='partners'>
      <h4 class='partners-heading'>Partners</h4>
      <ul class='partners-list'>
        <li class='partners-list-label'>Presented by</li>
        <li class='partners-list-logo'></li>
        <li class='partners-list-logo'></li>
      </ul>
      <ul class='partners-list'>
        <li class='partners-list-label'>Implementation partners</li>
        <li class='partners-list-logo'></li>
        <li class='partners-list-logo'></li>
      </ul>
      <ul class='partners-list'>
        <li class='partners-list-label'>Government</li>
        <li class='partners-list-logo'></li>
        <li class='partners-list-logo'></li>
      </ul>
      <ul class='partners-list'>
        <li class='partners-list-label'>Donating</li>
        <li class='partners-list-logo'></li>
        <li class='partners-list-logo'></li>
      </ul>
      <ul class='partners-list'>
        <li class='partners-list-label'>Fiscal sponsors</li>
        <li class='partners-list-logo'></li>
        <li class='partners-list-logo'></li>
      </ul>
    </div>
  </div>
  <div class='col-4'>
    <p>
    We leverage skill-based volunteerism as well as targeted in-kind and financial donations to provide free training and tech certification pathways for qualified applicants who otherwise would not have access to these opportunities.
    </p>

    <p>
    We target individuals with demonstrated financial need, interest in tech fields, a strong desire for self-improvement and a history of community engagement.
    </p>

    <p>
    Our methodology centers around using infographic materials to distill information; facilitated group dialogue; and hands-on projects that nurture the inherent curiosity, self-confidence, communication and teamwork skills of participants.
    </p>
  </div>
</div>