<ul class='events'>
  <li class='card card-event'>
    <header class='card-header'>
      <h5 class='card-header-headline'>
        Maker's Day
      </h5>
      <h6 class='card-header-subheadline'>
        @Pluralsight
      </h6>
    </header>
    <section class='card-body'>
      <img class='logo' src=''>
    </section>
    <footer class='card-footer'>
      <div class='card-footer-headline'>
        March 18th, 2017
      </div>
      <a class='card-footer-subheadline'>
        View details
      </a>
    </footer>
  </li>
  <li class='card card-event-placeholder'>
  </li>
  <li class='card card-event-placeholder'>
  </li>
  <li class='card card-event card-event cta'>
    <header class='card-header'>
      <h5 class='card-header-headline'>
        Want to collaborate on an event?
      </h5>
      <h6 class='card-header-subheadline'>
        @Pluralsight
      </h6>
    </header>
    <footer class='card-footer'>
      <div class='card-footer-headline'>
        We’d love to hear from you.
      </div>
      <a class='card-footer-subheadline'>
        Contact us
      </a>
    </footer>
  </li>
</ul>