  
  <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/js/keypress-2.1.0.min.js"></script>
    
  <!-- Crazy egg -->
  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0031/7606.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>

  <script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "fade",
        controlNav: false,
        slideshow: false,
        randomize: true,
        start: function(slider){
          var curSlide = slider.currentSlide;
          var dataSrc = $('.flex-active-slide').not('.is-loaded').find('.js-load').attr("data-src");
          $(".flex-active-slide .js-load").not(".is-loaded").load(dataSrc, function(){
            $(this).addClass('is-loaded');
          });
        },
        after: function(slider){
          var scrollSlide = $(".flexslider").offset().top;
          $('body').animate({ scrollTop: scrollSlide - 100}, 300);
          var curSlide = slider.currentSlide;
          var dataSrc = $('.flex-active-slide').not('.is-loaded').find('.js-load').attr("data-src");
          $(".flex-active-slide .js-load").not(".is-loaded").load(dataSrc, function(){
            $(this).addClass('is-loaded');
          });
        }
      });
      $('.ajax-popup-link').magnificPopup({
        type: 'ajax',
        closeBtnInside: false,
        showCloseBtn: true
      });
      $('.js-breakdown').click(function(){
        $(this).addClass('is-clicked');
      });
    });

    var listener = new window.keypress.Listener();

    function scrollSurprise(){
      $('body').animate({ scrollTop: 0}, 300);
    };

    function lionel(){
      scrollSurprise();
      $('.js-surprise').load("egg-lionel");
    };
    listener.sequence_combo("f", function() {
      lionel();
    });

    function contra(){
      scrollSurprise();
      $('.js-surprise').load("egg-contra");
    };
    listener.sequence_combo("up up down down left right left right b a enter", function() {
      contra();
    });
    listener.sequence_combo("up up down down left right left right b a enter", function() {
      contra();
    });

    function vim(){
      scrollSurprise();
      $('.js-surprise').load("egg-vim", function(){});
    };
    listener.sequence_combo(": w q", function() {
      vim();
    });
    listener.sequence_combo("alt x", function() {
      vim();
    });

    function bruce(){
      scrollSurprise();
      $('.js-surprise').load("egg-bruce", function(){});
    };
    listener.sequence_combo("s", function() {
      bruce();
    });

    function bees(){
      scrollSurprise();
      $('.js-surprise').not(".bees").load("egg-bees", function(){}).addClass('bees');
    };
    listener.counting_combo("b", function(e, count) {
      if (count > 3) {
        bees();
      }
    });
  </script>

  </body>
</html>