<!-- <script type="text/javascript">
  function modalWindow() {
    var modalClass = this.getAttribute('data-modal-trigger');
    var modalWindow = document.querySelector('[data-modal-window="' + modalClass +'"]');
    modalWindow.classList.add('is-active');
  };

</script> -->

{% include forms/hire.html %}
{% include forms/student.html %}
{% include forms/volunteer.html %}

<header class='nav nav-footer'>
  <ul class='nav-list'>
    {% for item in site.footer-navigation %}
      {% if item.title contains 'Donate' %}
        <li class='nav-list-item'>
          <a class='nav-list-item-link'>
            <form class='form-paypal' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="4AZG55L3R2SFQ">
              <input class='form-paypal-submit' type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            {{ item.title }}
          </a>
        </li>
      {% else %}
        <li class='nav-list-item'>
          <a href='{{ item.url }}' class='nav-list-item-link' {{ new-tab }}>
            {{ item.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class='nav-list'>
    <li class='nav-list-item'>
      WeAreMakers &copy; 2017
    </li>
  </ul>
</header>