<!-- <script type="text/javascript">
  function modalWindow() {
    var modalClass = this.getAttribute('data-modal-trigger');
    var modalWindow = document.querySelector('[data-modal-window="' + modalClass +'"]');
    modalWindow.classList.add('is-active');
  };

</script> -->

{% include forms/hire.html %}
{% include forms/student.html %}
{% include forms/volunteer.html %}

<header class='nav nav-footer'>
  <ul class='nav-list'>
    {% for item in site.footer-navigation %}
      {% if item.title contains 'Donate' %}
        {% assign new-tab = 'target="_blank"'' %}
      {% endif %}
      <li class='nav-list-item'>
        <a href='{{ item.url }}' class='nav-list-item-link' {{ new-tab }}>
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <ul class='nav-list'>
    <li class='nav-list-item'>
      WeAreMakers &copy; 2017
    </li>
  </ul>
</header>