<header class='nav nav-footer'>
  <ul class='nav-list'>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Home</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Courses</a>
    </li>
    <li class='nav-list-item dropdown'>
      <a href='#' class='nav-list-item-link'>Our students</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Broadcasts</a>
    </li>
    <li class='nav-list-item'>
      <a href='#get-involved' class='nav-list-item-link'>Get involved</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Donate</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Colophon</a>
    </li>
  </ul>

  <ul class='nav-list'>
    <li class='nav-list-item'>
      WeAreMakers &copy; 2017
    </li>
  </ul>
</header>