<header class='nav nav-header'>
  <a class='nav-logo' href=''>WeAreMakers</a>
  <ul class='nav-list'>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Courses</a>
    </li>
    <li class='nav-list-item dropdown'>
      <a href='#' class='nav-list-item-link dropdown-trigger'>Our students</a>
      <ul class='dropdown-menu'>
        <li class='dropdown-menu-item'>
          <a href='#' class='dropdown-menu-item-link'>Refugees</a>
        </li>
        <li class='dropdown-menu-item'>
          <a href='#' class='dropdown-menu-item-link'>Latinos</a>
        </li>
      </ul>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Broadcasts</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Get involved</a>
    </li>
    <li class='nav-list-item'>
      <a href='#' class='nav-list-item-link'>Donate</a>
    </li>
  </ul>
</header>