<div class='nav-header-wrapper'>
  <header class='nav nav-header js-toggle {{include.header_color}}'>
    <h1 class='nav-logo'>
      <span class='nav-logo-text'>WeAreMakers</span>
      <a class='nav-logo-image' href=''></a>
    </h1>
    <a class='nav-trigger nav-list-item-link js-toggle-trigger'>
      Menu
      <i class='icon icon-menu'></i>
    </a>
    <ul class='nav-list js-toggle-menu'>
      {% for item in site.navigation %}
        {% assign class = nil %}
        {% if page.url contains item.url %}
          {% assign class = 'is-active' %}
        {% endif %}
        {% if item.title contains 'Donate' %}
          {% assign class = 'nav-list-item-link-primary' %}
        {% endif %}
        {% if item.title contains 'Our students' %}
          <li class='nav-list-item dropdown dropdown-students js-toggle'>
            <a class='nav-list-item-link dropdown-trigger js-toggle-trigger'>Our students</a>
            <ul class='dropdown-menu js-toggle-menu'>
              <li class='dropdown-menu-item'>
                <a href='#' class='dropdown-menu-item-link'>Refugees</a>
              </li>
              <li class='dropdown-menu-item'>
                <a href='#' class='dropdown-menu-item-link'>Latinos</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class='nav-list-item'>
            <a href='{{ item.url }}' class='nav-list-item-link {{ primary }} {{ class }}'>
              {{ item.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </header>
</div>