<div class='nav-header-wrapper'>
  <header class='nav nav-header js-toggle {{include.header_color}}'>
    <h1 class='nav-logo'>
      <span class='nav-logo-text'>WeAreMakers</span>
      <a class='nav-logo-image' href='https://jaydenanderson.github.io/wearemakers.io/'></a>
    </h1>
    <a class='nav-trigger nav-list-item-link js-toggle-trigger'>
      Menu
      <i class='icon icon-menu'></i>
    </a>
    <ul class='nav-list js-toggle-menu'>
      {% for item in site.navigation %}
        {% assign class = nil %}
        {% if page.url contains item.url %}
          {% assign class = 'is-active' %}
        {% endif %}
        {% if item.title contains 'Donate' %}
          {% assign class = 'nav-list-item-link-primary' %}
          {% assign new-tab = 'target="_blank"'' %}
        {% endif %}
        {% if page.url contains 'our-students' %}
          {% assign class-students = 'is-active' %}
        {% endif %}
        {% if item.title contains 'Our students' %}
          <li class='nav-list-item dropdown dropdown-students js-toggle'>
            <a class='nav-list-item-link dropdown-trigger js-toggle-trigger {{ class-students }}'>Our students</a>
            <ul class='dropdown-menu js-toggle-menu'>
              <li class='nav-list-item'>
                {% for item in site.students %}
                  {% assign class = nil %}
                  {% if page.url contains item.url %}
                    {% assign class = 'is-active' %}
                  {% endif %}
                  <a href='{{ item.url }}' class='nav-list-item-link {{ class }}'>
                    {{ item.title }}
                  </a>
                {% endfor %}
              </li>
            </ul>
          </li>
        {% else %}
          <li class='nav-list-item'>
            <a href='{{ item.url }}' class='nav-list-item-link {{ primary }} {{ class }}' {{ new-tab }}>
              {{ item.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </header>
</div>