<section class="hero">
  <section class='hero-bg'></section>
  <aside class='hero-text'>
    <h2 class='hero-text-header'>
      Our mission is to
    </h2>
    <h1 class='hero-text-body'>
      Empower students through developing their tech skills
    </h1>
    <section class='hero-text-footer'>
      <a href='' class='button button-primary'>Get involved</a>
      <a href='' class='button button-secondary-white'>Become a student</a>
    </section>
  </aside>
  <footer class='hero-footer'>
    <article class='card card-highlight'>
      <h3 class='card-header'>We develop students’ creative & problem-solving skills</h3>
      <section class='card-body'>Classes use of innovative multi-cultural learning materials &amp; technologies like Virtual &amp; Augmented Reality.</section>
    </article>
    <article class='card card-highlight'>
      <h3 class='card-header'>We connect students with real-life professionals</h3>
      <section class='card-body'>Students learn from, and work with
skills-based corporate volunteers, who create an easy-to-learn visual curriculum.</section>
    </article>
    <article class='card card-highlight'>
      <h3 class='card-header'>We create tech-based stem opportunities</h3>
      <section class='card-body'>Our program builds pathways for students to enter into employment, entrepreneurship &amp; college.</section>
    </article>
  </footer>
</section>