<section class='impact'>
  <header class='impact-header'>
    <h3 class='impact-header-headline'>Let’s make an impact</h3>
    <section class='impact-header-body'>Our courses empower students to pursue tech careers. Mindfulness and brain building, game design, web development, or IT, we offer something for every creative mind.</section>
    <footer class='impact-header-footer'>
      <a href='' class=''>Check out our courses</a>
    </footer>
  </header>
  <ul class='impact-body'>
    <li class='impact-body-section'>
      <h5 class='impact-body-section-heading'>#1 and #3</h5>
      <section class='impact-body-section-body'>Students rank art/design, and computer science course as their favorites.</section>
    </li>
    <li class='impact-body-section'>
      <h5 class='impact-body-section-heading'>500,000+</h5>
      <section class='impact-body-section-body'>Open computer science jobs just within the USA.</section>
    </li>
    <li class='impact-body-section'>
      <h5 class='impact-body-section-heading'>40%</h5>
      <section class='impact-body-section-body'>Schools in the USA teach computer programming.</section>
    </li>
  </ul>
</section>
<section class=''>
  Stats provided by <a href='' class='link link-black'>Code.org</a>
</section>