<div class='list-partners'>
  <h4 class='list-item list-item-title'>
    <span class='list-item-header'>Partners</span>
  </h4>
  <ul class='list-item'>
    <li class='list-item-header'>Presented by</li>
    <li class='list-item-logo'><img style='width:48px;' src='{{site.url}}/images/logos/masteryacademy.png'></li>
    <li class='list-item-logo'><img style='width:48px;' src='{{site.url}}/images/logos/uretc.png'></li>
  </ul>
  <ul class='list-item'>
    <li class='list-item-header'>Implementation partners</li>
    <li class='list-item-logo'><img style='width:80px;' src='{{site.url}}/images/logos/goldman.png'></li>
    <li class='list-item-logo'><img style='width:84px;' src='{{site.url}}/images/logos/adobe.png'></li>
    <li class='list-item-logo'><img style='width:118px;' src='{{site.url}}/images/logos/microsoft.png'></li>
  </ul>
  <ul class='list-item'>
    <li class='list-item-header'>Government</li>
    <li class='list-item-logo'><img style='width:48px;' src='{{site.url}}/images/logos/slc.png'></li>
    <li class='list-item-logo'><img style='width:106px;' src='{{site.url}}/images/logos/dws.png'></li>
  </ul>
  <ul class='list-item'>
    <li class='list-item-header'>Donating</li>
    <li class='list-item-logo'><img style='width:48px;' src='{{site.url}}/images/logos/traderjoes.png'></li>
    <li class='list-item-logo'><img style='width:84px;' src='{{site.url}}/images/logos/testout.png'></li>
  </ul>
  <ul class='list-item'>
    <li class='list-item-header'>Fiscal sponsors</li>
    <li class='list-item-logo'><img style='width:60px;' src='{{site.url}}/images/logos/uacf.png'></li>
  </ul>
</div>