<section class='figure figure-full' style='background-url: url();'></section>
<article class='card card-stats'>
  <header class='card-header'>
    Making  it happen
  </header>
  <section class='card-body'>
  Our program will always be available to students at no cost. Each course is taught and supported by computer science professionals.
  </section>
  <footer class='card-footer'>
    Compiled by Utah Refugee Services Office based on the Refugee Coding Project Pilot Program.
  </footer>
  <ul class='card-list'>
    <li class='card-list-item'>
      <span class='card-list-item-number'>60</span>
      <span class='card-list-item-label'>Students graduated</span>
    </li>
    <li class='card-list-item'>
      <span class='card-list-item-number'>100%</span>
      <span class='card-list-item-label'>Students have deeper understanding of computer programming</span>
    </li>
    <li class='card-list-item'>
      <span class='card-list-item-number'>100%</span>
      <span class='card-list-item-label'>Students enjoyed  the course</span>
    </li>
    <li class='card-list-item'>
      <span class='card-list-item-number'>77%</span>
      <span class='card-list-item-label'>Students interested  in additional courses</span>
    </li>
    <li class='card-list-item'>
      <span class='card-list-item-number'>226</span>
      <span class='card-list-item-label'>Individual volunteers</span>
    </li>
    <li class='card-list-item'>
      <span class='card-list-item-number'>500+</span>
      <span class='card-list-item-label'>Volunteer  hours served</span>
    </li>
  </ul>
</article>