<section class='hero'>
  <figure class='hero-bg' style='background-image: url(/images/hero/3.jpg);'></figure>
</section>

<article class='section section-our-work' style='background-image: url(/images/bg/pattern-2.png)';>
  <div class='section-text'>
    <header class='section-text-header h h1 h-tight text-bold'>
      Our work
    </header>
    <section class='section-text-body'>
      Our hands-on learning experiences make students truly enjoy our classes. We take pride in paving new pathways for students and enriching communities.
    </section>
    <footer class='section-text-footer'>
      Compiled by Utah Refugee Services Office based on the Refugee Coding Project Pilot Program.
    </footer>
  </div>
  <ul class='section-aside list list-stats'>
    <li class='list-item'>
      <span class='list-item-number'>60</span>
      <span class='list-item-label' style='max-width: 100px'>Students graduated</span>
    </li>
    <li class='list-item'>
      <span class='list-item-number'>100%</span>
      <span class='list-item-label'>Students better grasp programming</span>
    </li>
    <li class='list-item'>
      <span class='list-item-number'>100%</span>
      <span class='list-item-label' style='max-width: 140px'>Students enjoyed  the course</span>
    </li>
    <li class='list-item'>
      <span class='list-item-number'>77%</span>
      <span class='list-item-label'>Students interested  in additional courses</span>
    </li>
    <li class='list-item'>
      <span class='list-item-number'>226</span>
      <span class='list-item-label' style='max-width: 140px'>Individual volunteers</span>
    </li>
    <li class='list-item'>
      <span class='list-item-number'>500+</span>
      <span class='list-item-label' style='max-width: 120px'>Volunteer  hours served</span>
    </li>
  </ul>
</article>