.button {
  @include h9Cap;
  border: 2px solid;
  border-color: inherit;
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: auto;
  justify-content: center;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  overflow: hidden;
  background: $black;
  border-color: $black;
  color: $white;
  &:hover {
    background: darken($black,5%);
    color: $ice;
    border-color: darken($black,5%);
    transition: none;
  }
  &:active {
    background: darken($black,50%);
    color: darken($ice,20%);
    border-color: darken($black,50%);
    transform: scale(.97);
  }
  &.button-hollow {
    color: $black;
    &:hover {
      color: $ice;
    }
    &:active {
      color: darken($ice,20%);
    }
  }
}

.button-small {
  padding: 10px;
}

.button-large {
  padding: 22px;
}

.button-ice {
  background: $ice;
  border-color: $ice;
  color: $white;
  &:hover {
    background: darken($ice,5%);
    color: $white;
    border-color: darken($ice,5%);
  }
  &:active {
    background: darken($ice,15%);
    border-color: darken($ice,15%);
  }
  &.button-hollow {
    color: $ice;
    &:hover {
      color: $white;
    }
  }
}

.button-mint {
  background: $mint;
  border-color: $mint;
  color: $white;
  &:hover {
    background: darken($mint,5%);
    color: $white;
    border-color: darken($mint,5%);
  }
  &:active {
    background: darken($mint,15%);
    border-color: darken($mint,15%);
  }
  &.button-hollow {
    color: $mint;
    &:hover {
      color: $white;
    }
  }
}

.button-rocketship {
  background: $rocketship;
  border-color: $rocketship;
  color: $white;
  &:hover {
    background: darken($rocketship,5%);
    color: $white;
    border-color: darken($rocketship,5%);
  }
  &:active {
    background: darken($rocketship,15%);
    border-color: darken($rocketship,15%);
  }
  &.button-hollow {
    color: $rocketship;
    &:hover {
      color: $white;
    }
  }
}

.button-white,
.button-white-muted {
  background: $white;
  border-color: $white;
  color: $black;
  &:hover {
    background: $white;
    color: $ice;
    border-color: $white;
    opacity: .85;
  }
  &:active {
    background: $white;
    color: $ice;
    border-color: $white;
    opacity: .7;
  }
  &.button-hollow {
    color: $white;
    &:hover {
      color: $ice;
    }
  }
}

.button-white-muted {
  border-color: rgba(255,255,255,.3)
}

.button-golden {
  background: darken($golden,7%);
  border-color: darken($golden,7%);
  color: $white;
  &:hover {
    background: darken($golden,15%);
    color: $white;
    border-color: darken($golden,15%);
  }
  &:active {
    background: darken($golden,20%);
    border-color: darken($golden,20%);
  }
  &.button-hollow {
    color: darken($golden,7%);
    &:hover {
      color: $white;
    }
  }
}

// Hollow modifier
.button-hollow {
  background-color: transparent;
}