.card {
  border: 2px solid $ice;
  position: relative;
  @include display(flex);
  @include flex-wrap(wrap);

  &-bg-image {
    width: 100%;
    display: block;
  }

  &-header,
  &-body,
  &-footer {
    display: block;
    width: 100%;
    padding: 3rem;
  }

  &-header {
    font-family: $fontFamilyHeading;
    @include h5();
    line-height: 1em;
    font-weight: 500;
    &-headline,
    &-subheadline {
      display: block;
    }
  }

  &-footer {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-end);
    @include flex-shrink(0);
    @include flex-wrap(wrap);
    &-details {
      @include h9Cap();
      line-height: 1.5em;
      &:before {
        border-top: 3px solid $black;
        content: '';
        display: block;
        width: 3rem;
        margin-bottom: calc(3rem - 4px)
      }
      &-header {
        text-transform: none;
        font-weight: normal;
        opacity: .5;
      }
      &-item {
        display: block;
        color: $black;
      }
    }
  }
}

.card-highlight {
  position: relative;
  z-index: 2;
  border: none;
  background: rgba(67,170,236,.95);
  width: 33.33333%;

  @media (max-width: 850px) {
    width: 100%;
    margin: 0 auto;
    max-width: 40rem;
  }

  &:nth-child(2) {
    background: rgba(67,170,236,.9);
  }
  &:nth-child(3) {
    background: rgba(67,170,236,.85);
    .card-header {
      max-width: 300px;
    }
  }
  .card-header {
    color: $white;
    padding: calc(3rem - 3px) 3rem;
    max-width: 335px;
    @media (max-width: 1000px) {
      font-size: 1.75rem;
      padding: 2rem;
    }
    @media (max-width: 850px) {
      padding-bottom: 0;
      max-width: 100% !important;
    }
    @media (max-width: 350px) {
      padding: 1rem 1rem 0;
    }
  }
  .card-body {
    font-size: $h7Px;
    opacity: .5;
    padding: calc(3rem - 9px) 3rem;
    line-height: 2em;
    @media (max-width: 1000px) {
      padding: 2rem;
    }
    @media (max-width: 400px) {
      font-size: 14px;
    }
    @media (max-width: 350px) {
      padding: .5rem 1rem 1rem;
    }
  }
  .row-features-refugees & {
    background: transparent;
    .card-header {
      color: $black;
    }
    .card-header {
      padding-top: 0;
      padding-bottom: 0;
      border-left: 2px solid $golden;
    }
    .card-body {
      padding-top: .5rem;
      line-height: 1.5em;
      padding-right: 2rem;
    }
  }
}

.card-event {
  width: calc(25% - 3rem);
  margin: 1.5rem;
  background: $white;
  color: $black;
  position: relative;
  border: none;
  cursor: pointer;
  border: 3px solid $white;
  @media (max-width: 900px) {
    margin: .75rem;
    width: calc(50% - 1.5rem);
  }
  &:hover {
    border-color: $ice;
  }
  &:before {
    content: '';
    padding-top: 100%;
    display: block;
    @media (max-width: 900px) {
      padding-top: 150%;
    }
  }
  .card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: calc(2rem - 6px) calc(2rem - 3px);
    font-family: $fontFamily;
    line-height: 1.25em;
    @media (max-width: 900px) {
      padding: 1rem;
    }
    &-headline {
      font-weight: bold;
    }
    &-subheadline {
      font-weight: 100;
      opacity: .5;
    }
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem calc(2rem - 3px);
    @media (max-width: 900px) {
      padding: 1rem;
    }
    @include h9Cap();
    @include flex-wrap(wrap);
    &-headline {
      display: block;
      width: 150px;
      max-width: 100%;
    }
    &-subheadline {
      width: 100%;
      &:before {
        content: '';
        display: block;
        width: 36px;
        border: 2px solid;
        border-color: inherit;
        margin: 18px 0;
      }
    }
    &-button {
      width: 100%;
    }
  }
  &-placeholder {
    background: transparent;
    cursor: default;
    pointer-events: none;
    &:after {
      content: '';
      display: block;
      width: 36px;
      border: 2px solid;
      border-color: inherit;
      position: absolute;
      height: 0;
      left: 2rem;
      bottom: 51px;
    }
  }
}

.card-action {
  border-radius: 4px;
  border: none;
  background: #F4EAC3;
  text-align: center;
  background-size: cover;
  transition: all .3s ease;
  display: block;
  background: $ice;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 60px -20px rgba(30,36,41,.5);
    @media (max-width: 1200px) {
      .button {
        background: rgba(41,50,59,.9);
        color: $white;
        border-color: transparent;
      }
    }
  }

  &:active {
    transform: scale(.97);
    box-shadow: none;
  }

  .button {
    width: 100%;
    max-width: 20rem;
    &:active {
      box-shadow: 0 0 0 0 transparent;
    }

    @media (max-width:1200px) {
      box-shadow: none !important;
      background-color: transparent;
      border-color: rgba(41,50,59,.9);
      color: rgba(41,50,59,.9);
    }
  }

  .card-bg {
    position: relative;
    @media (max-width: 1200px) {
      overflow: hidden;
      border-radius: 0 0 4px 4px;
      padding-bottom: 100%;
    }
    @media (max-width: 800px) {
      padding-bottom: 66%;
    }
    &-image {
      border-radius: 4px;
      @media (max-width: 1200px) {
        position: absolute;
        left: 0;
        bottom: -14%;
        right: 0;
        border-radius: 0 0 4px 4px;
      }
      @media (max-width: 800px) {
        bottom: -56%;
      }
    }
  }

  .card-header {
    color: $black;
    font-family: $fontFamily;
    font-size: 1.5rem;
    line-height: 1.5em;
    padding: calc(3rem - 7px) 3rem -1.5rem;;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    @media (max-width: 1200px) {
      position: relative;
      color: rgba(41,50,59,.9);
    }
    &-headline {
      @media (max-width: 1250px) {
        height: 4.5em;
      }
      @media (max-width: 800px) {
        height: auto;
      }
    }
    @media (max-width: 1050px) {
      padding: 1.5rem;
    }
    &-subheadline {
      padding-top: calc(2rem - 7px);
    }
  }

  &-donate {
    .button {
      box-shadow: 0 10px 30px -10px darken($ice, 20%);
    }
  }

  &-volunteer {
    background: $golden;
    .button {
      box-shadow: 0 10px 30px -10px darken($golden, 20%);
    }
    .card-header-headline {
      max-width: 265px;
      margin: 0 auto;
      display: block;
    }
    .card-bg-image {
      @media (max-width: 1200px) {
        bottom: -30%;
      }
      @media (max-width: 800px) {
        bottom: -112%;
      }
    }
  }

  &-hire {
    background: $rocketship;
    .button {
      box-shadow: 0 10px 30px -10px darken($rocketship, 20%);
    }
    .card-bg-image {
      @media (max-width: 800px) {
        bottom: -64%;
      }
    }
  }
}

.card-course {
  border-width: 3px;
  border-color: initial;
  @include flex-direction(column);
  .card-header {
    padding: 0;
    @include flex-shrink(0);
    &-headline {
      font-family: $fontFamilyHeading;
      font-weight: bold;
      line-height: 1em;
      font-size: $h4Px;
      padding: calc(3rem - 6px) 3rem 0;
      max-width: 240px;
      @media (max-width: 900px) {
        padding: 1.5rem;
      }
    }
    &-image {
      margin: -3px -3px 0;
      display: block;
      width: calc(100% + 6px);
    }
  }
  .card-body {
    font-family: $fontFamilyText;
    line-height: 2em;
    padding: calc(3rem - 14px) 3rem 0;
    color: $black;
    @include flex-grow(10000);
    @media (max-width: 900px) {
      padding: 0 1.5rem;
    }
    p {
      margin-top: 2em;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .card-footer {
    color: $black;
    @media (max-width: 900px) {
      padding: 1.5rem;
    }
    &-details {
      @include h9Cap();
      &-item {
        padding: 8px 0 0;
        &:last-item {
          padding-bottom: 0;
          margin-bottom: -2px;
        }
      }
    }
    &-action {
      @media (max-width: 450px) {
        width: 100%;
        margin-top: 1rem;
        .button {
          width: 100%;
        }
      }
    }
  }

  &-mindfulness {
    color: $mint;
    border-image: url('wearemakers.io/images/bg/mint-bg.png') 6 repeat;
    .card-header-headline {
      max-width: 300px;
    }
  }

  &-code {
    color: $golden;
    border-image: url('wearemakers.io/images/bg/golden-bg.png') 6 repeat;
  }

  &-game {
    color: $ice;
    border-image: url('wearemakers.io/images/bg/ice-bg.png') 6 repeat;
  }

  &-web {
    color: $rocketship;
    border-image: url('wearemakers.io/images/bg/rocketship-bg.png') 6 repeat;
  }

  &-it {
    color: $chill;
    border-image: url('wearemakers.io/images/bg/chill-bg.png') 6 repeat;
    .card-header-headline {
      max-width: 300px;
    }
  }

  &-volunteer {
    color: $charcoal;
    border-image: url('wearemakers.io/images/bg/charcoal-bg.png') 6 repeat;
    .card-header-headline {
      max-width: 180px;
    }
    .card-footer {
      @include justify-content(flex-end);
    }
  }
}

.card-campus {
  border: none;
  background: $white;
  padding: 3rem;
  margin: 0 -3rem;
  width: calc(100% + 6rem);
  @include flex-direction(column);
  @media (max-width: 1000px) {
    margin: 0;
    padding: 2rem;
  }
  .card-header{
    padding: 0 0 3rem;
    margin: -8px 0 -7px;
    @include flex-grow(1000);
    &-subheadline {
      color: $ice;
      max-width: 240px;
      width: 100%;
    }
  }
  &-u {
    .card-header-subheadline {
      max-width: 160px;
    }
  }
  .card-footer {
    padding: 0;
    @include flex-shrink(0);
    &-details {
      &-items {
        margin: 0;
      }
    }
    &-action {
      @include flex-shrink(0);
      @media (max-width: 600px) {
        width: 100%;
        .button {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}

.card-stat-refugee {
  font-family: $fontFamilyHeading;
  border: none;
  width: 50%;
  margin: 6rem 0 0 0;
  position: relative;
  @media (max-width: 900px) {
    margin-top: 3rem;
  }
  @media (max-width: 800px) {
    width: 100%;
    margin-left: 4.5rem;
  }
  .card-image {
    height: 44px;
    width: 3rem;
    position: relative;
    display: block;
    &-wide {
      width: 4rem;
    }
    @media (max-width: 800px) {
      margin-right: 1.5rem;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      height: auto;
      width: 2rem !important;
      &-wide {
        width: 3rem !important;
      }
    }
    &-bg {
      width: 100%;
      position: absolute;
      bottom: 0;
      @media (max-width: 800px) {
        position: relative;
      }
    }
  }
  .card-header {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1em;
    padding: 0;
    margin: 1rem 0;
    @media (max-width: 800px) {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0 0 .5rem;
    }
  }
  .card-footer {
    line-height: 1em;
    padding: 0;
    opacity: .5;
    width: 160px;
  }
}

.card-country {
  width: 25%;
  position: relative;
  font-weight: bold;
  color: $white;
  background: $black;
  border: none;
  text-align: center;
  background-size: cover;
  @media (max-width: 800px) {
    width: 33.33333%
  }
  @media (max-width: 700px) {
    width: 50%;
  }
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .card-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font: 600 2rem/1em $fontFamily;
    @media (max-width: 700px) {
      font-size: 14px;
    }
  }
}
.card-countries {
  .card-image {
    background-size: cover;
    position: absolute;
    display: block;
    width: calc(100% - 3rem);
    margin: 1.5rem;
  }
}