.field {
  @include display(flex);
  width: 100%;
  letter-spacing: .075em;
  font-size: $h9Px;
  &-input {
    font-size: inherit;
    letter-spacing: inherit;
    border: 2px solid rgba(30,46,41,.3);
    border-radius: 4px;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-weight: 400;
    height: auto;
    justify-content: center;
    padding: 12px 16px;
    position: relative;
    text-decoration: none;
    transition: all .2s ease;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-touch-callout: none;
    overflow: hidden;
    background: transparent;
    color: $black;
    line-height: 1.5em;
    width: 100%;
    @include placeholder {
      color: rgba(30,46,41,.5);
    }
    &:hover {
      border-color: rgba(30,46,41,.3);
      transition: none;
    }
    &:active,
    &:focus {
      @include placeholder {
        color: rgba(30,46,41,.3);
      }
      border-color: $ice;
      background: rgba(255,255,255,.8);
    }
  }
}

.field-inline {
  .field-input {
    @include flex-grow(10000);
    border-radius: 2px 0 0 2px;
  }
  .field-button {
    @include flex-shrink(0);
    border-radius: 0 2px 2px 0;
  }
}

.field-ice {
  .field-input {
    border-color: $ice;
  }
}

.field-checkbox {
  @include display(flex);
  @include align-items(center);
  width: 100%;
  overflow: auto;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: $ice;
  }
  .field-label {
    border-bottom: 2px solid rgba(30,46,41,.3);
    line-height: 1.5rem;
    padding: 14px 0;
    @include flex-grow(10000);
  }
  .field-icon {
    width: 4rem;
    height: 4rem;
    @include display(flex);
    @include flex-shrink(0);
    @include justify-content(center);
    @include align-items(center);
  }
  .field-input {
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
    border-color: rgba(30,46,41,.3);
    &:hover {
      border-color: rgba(30,46,41,.5);
    }
    &:active {
      border-color: $ice;
      background: $ice;
    }
    &:checked {
      background: $ice;
      border-color: $ice;
    }
  }
}

.field-textarea {
  height: 8rem;
}

.field-heading {
  font-weight: bold;
  &-checkbox {
    margin: 0 0 0 4rem !important;
    padding: 9px 0 10px;
    width: auto;
    opacity: .8;
    border-bottom: 2px solid rgba(30,46,41,.3);
  }
}

.field-white {
  .field-input {
    color: #fff;
    border-color: rgba(255,255,255,.7);
    @include placeholder {
      color: rgba(255,255,255,.7);
    }
    &:hover {
      border-color: rgba(255,255,255,.9);
      transition: none;
    }
    &:active,
    &:focus {
      @include placeholder {
        color: rgba(30,46,41,.3);
      }
      border-color: $white;
      background: $white;
      color: $black;
    }
  }
}