.icon {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0;
  font-style: normal;
}

.icon-radio,
.icon-checkbox,
.icon-circle,
.icon-square {
  margin-top: -6px;
  border-radius: 100px;
  border: 2px solid #fff;
  height: 16px;
  width: 16px;

  .is-selected &,
  .is-selected:hover &,
  .is-selected:active & {
    background: $black;
    border-color: $black;
  }
}

.icon-circle,
.icon-square {
  height: 24px;
  width: 24px;
  line-height: 20px;
  margin: 0 2px;
  
  &.is-selected {
    color: $black;
    background: #fff;
    border-color: #fff;
  }
  
  .tabs-link:hover & {
    border-color: $black;
    
    &.is-selected {
      background: $black;
      color: #fff;
    }
  }
}

.icon-square {
  border-radius: 2px;
}

.icon-checkbox {
  border-radius: 2px;
}

.icon-small {
  font-size: 12px;
}

.icon-large {
  font-size: 24px;
}

.icon-menu,
.icon-close {
  display: inline-block;
  height: 10px;
  width: 16px;
  border-radius: 2px;
  vertical-align: middle;
  position: relative;
  margin: -3px 0 0 3px;

  &:before,
  &:after {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    border: 1px solid;
    border-color: inherit;
    border-radius: 2px;
    width: 100%;
    transition: all .2s linear;
    top: 0;
    height: 0;
  }

  &:after {
    top: auto;
    bottom: 0;
  }
}

.is-active .icon-menu,
.icon-close {
  &:before {
    top: 50%;
    margin-top: -1px;
    @include transform(rotate(45deg));
  }

  &:after {
    bottom: 50%;
    margin-bottom: -1px;
    @include transform(rotate(-45deg));
  }
}