.list {
  &-item {
    &-header {
      display: block;
    }
    &-body {
    }
    &-footer {
    }
  }
}

.list-partners {
  font-family: $fontFamilyHeading;
  font-size: $h7Px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: .2em;
  line-height: 1em;
  padding: calc(7rem - 27px) 0 3rem;
  .list-item-title {
    color: $ice;
    font-weight: bold;
    .list-item-header {
      color: $ice;
      border-top: 2px solid $ice;
      padding: 15px 0 0;
    }
  }
  .list-item {
    padding: 1.5rem 0;
    @include display(flex);
    @include align-items(center);
    &-header {
      width: 100%;
      max-width: 164px;
      color: rgba(41,50,59,.5);
    }
    &-logo {
      width: 102px;
    }
  }
}