.list {
  &-item {
    &-header {
      display: block;
    }
    &-body {
    }
    &-footer {
    }
  }
}

.list-partners {
  font-family: $fontFamilyHeading;
  font-size: $h7Px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: .2em;
  line-height: 1em;
  padding: calc(7rem - 27px) 0 3rem;
  @media (max-width: 900px) {
    padding: 0;
  }
  .list-item-title {
    color: $ice;
    font-weight: bold;
    .list-item-header {
      color: $ice;
      border-top: 2px solid $ice;
      padding: 15px 0 0;
    }
  }
  .list-item {
    padding: 1.5rem 0;
    @include display(flex);
    @include align-items(center);
    @include flex-wrap(wrap);
    &-header {
      width: 100%;
      max-width: 164px;
      color: rgba(41,50,59,.5);
      @media (max-width: 600px) {
        max-width: 100%;
      }
    }
    &-logo {
      width: 102px;
      @media (max-width: 600px) {
        width: auto;
        margin: 1rem 1.5rem 0 0;
      }
    }
  }
}

.list-overview {
  padding-top: 105px;
  .list-item{
    position: relative;
    margin: calc(3rem - 7px) 0 0 calc(20% + 3rem);
    @media (max-width: 400px) {
      margin-left: 80px
    }
    &-title {
      font-size: $h10Px;
      letter-spacing: .05em;
      color: rgba(41,50,59,.5);
      line-height: 1em;
      margin-top: 0;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
      &-link {
        color: $black;
      }
    }
    &-icon {
      position: absolute;
      right: 100%;
      margin: -6px 3rem 0 0;
    }
    &-header {
      font-family: $fontFamilyHeading;
      font-weight: 300;
      line-height: 1em;
      font-size: $h4Px;
      margin-bottom: calc(2rem - 11px);
      @media (max-width: 800px) {
        font-size: $h5Px;
      }
    }
    &-body {
      font-family: $fontFamilyText;
      line-height: 1.666666em;
      opacity: .5;
    }
  }
}

.list-stats {
  width: 60%;
  @include display(flex);
  @include flex-wrap(wrap);
  @media (max-width: 700px) {
    width: 100%;
  }
  .list-item {
    width: 50%;
    padding: 1.5rem;
    @include display(flex);
    @include align-items(center);
    @media (max-width: 900px) {
      padding: .75rem;
    }
    @media (max-width: 450px) {
      width: 100%;
    }
    &-number {
      @include flex-shrink(0);
      width: 7rem;
      background: $golden;
      color: #fff;
      font-family: $fontFamilyHeading;
      font-size: $h4Px;
      line-height: 1em;
      font-weight: bold;
      display: block;
      border-radius: 1000px;
      text-align: center;
      line-height: 7rem;
      margin-right: 1.5rem;
      text-shadow: none;
      @media (max-width: 800px) {
        font-size: $h5Px;
        line-height: 5rem;
        width: 5rem;
      }
    }
    &-label {
      line-height: 1em;
      display: block;
    }
  }
}