.nav {
  @include align-items(center);
  @include display(flex);
  @include flex-wrap(wrap);
  @include h9Cap;
  height: 5rem;
  position: relative;
  transition: all .2s ease;
  color: $black;

  &.is-active,
  .is-scrolled & {
    color: $black;
  }

  &-logo {
    @include flex-shrink(0);
    position: relative;
    display: block;

    &-text {
      color: rgba(0,0,0,.0) !important;
      position: absolute;
      top: 0;
    }

    &-image {
      display: block;
      &:after,
      &:before {
        background: url('/images/logo.png') 0 0 / cover no-repeat;
        content: '';
        display: block;
        height: 59px;
        margin: 0 $gridGutterHalfPX;
        transition: all .2s ease;
        width: 256px;
      }
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        background-image: url('/images/logo-white.png');
      }
      .nav-dark & {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      .is-scrolled & {
        &:after,
        &:before {
          width: 168px;
          height: 38px;
          margin: -4px 1.5rem 0;
        }
      }
      .is-scrolled &,
      .is-active & {
        &:before {
          opacity: 1;
        }
        &:after {
          opacity: 0;
        }
      }
      @media (max-width: 1000px) {
        &:after,
        &:before {
          width: 168px;
          height: 38px;
          margin-top: 4px !important;
        }
      }
      @media (max-width: 800px) {
        &:after,
        &:before {
          margin: -4px 0 0 !important;
        }
      }
    }
  }

  &-list {
    z-index: 8;
    @include display(flex);
    @include flex-grow(1000);
    @include justify-content(flex-end);
    transition: all .2s ease;

    &-item {
      position: relative;

      &-link {
        display: block;
        padding: $gridGutterHalfPX;
        cursor: pointer;
        color: inherit;
        opacity: .5;
        &:hover {
          opacity: .7;
          transition: none;
          color: inherit;
        }
        &:active {
          opacity: .9;
        }
        &.is-active {
          opacity: 1;
        }

        &-primary {
          color: $ice;
          opacity: 1 !important;
          &:hover {
            color: darken($ice,10%);
          }
          &:active {
            color: darken($ice,20%);
          }
        }
      }
    }
  }

  &-trigger {
    display: none;
    z-index: 7;
  }
}

// specific for header of site
.nav-header {
  height: 12rem;
  margin: 0 auto;
  background: rgba(255,255,255,.95);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  padding: 0 calc(#{$gridGutterHalfPX} + 8.33333%);
  &-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1280px;
    width: 100%;
    z-index: 6;
  }

  .is-scrolled & {
    height: 6rem;
  }
  .is-scrolled &,
  &.is-active {
    background: rgba(255,255,255,.95);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }

  @media (max-width: 1200px) {
    padding: 0 $gridGutterHalfPX;
  }
  @media (max-width: 1000px) {
    @include justify-content(center);
    height: 8rem;
    .is-scrolled & {
      height: 8rem;
    }
  }
  @media (max-width: 800px) {
    @include justify-content(space-between);
    height: auto;
    padding: .5rem 1.5rem;
    .is-scrolled & {
      height: auto;
    }
    .nav-list {
      opacity: 0;
      transition: all .2s ease;
    }
  }

  &.is-active {
    .nav-list{
      opacity: 1;
      max-height: 1000px;
      padding: $gridGutterHalfPX;
    }
  }

  .nav {
    &-list {
      @media (max-width: 1000px) {
        width: 100%;
        @include justify-content(center);
      }
      @media (max-width: 800px) {
        display: block;
        overflow: hidden;
        max-height: 0;
      }
    }


    &-trigger {
      @media (max-width: 800px) {
        display: block;
        padding-right: 6px;
      }
    }
  }
}

.nav-dark {
  color: $white;
  background: transparent;
}

.nav-footer {
  font-weight: normal;
  height: auto;
  margin: 0 3rem;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 40px;
    border: .5rem solid $white;
    background: url(/images/logo-icon.png) 0 0 / cover no-repeat;
    z-index: 1;
  }
  .nav-list {
    z-index: 0;
    width: 100%;
    height: 6rem;
    @include align-items(center);
    @include justify-content(center);
    background: $white;
    &:first-of-type {
      border-bottom: 2px solid #E8EAEB;
    }
    &:last-of-type {
      text-transform: none;
      opacity: .3;
    }
  }
}