.row {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
}

.row-features {
  position: relative;
  z-index: 3;
  margin: -113px 8.33333333% 3rem;
  @media (max-width: 1200px) {
    margin: -113px 0 0;
  }
  @media (max-width: 1000px) {
    margin-top: -90px;
  }
  @media (max-width: 850px) {
    display: block;
    margin: 1.5rem 1.5rem 3rem;
  }
  &-refugees {
    margin: 6rem auto 0;
    max-width: 1065px;
  }
}