// default bg colors
$ice:             #43AAED;
$iceLight:        #EEF7FE;
$mint:            #65E2A6;
$chill:           #68DBEA;
$rocketship:      #ED4A43;
$golden:          #FED940;
$black:           #192129;
$gray:            #08304A;
$charcoal:        #6B777F;
$white:           #fff;

$accentColor:     $ice;

$backgroundColor: #fff;
$textColor:       $black;
$linkColor:       $ice;