// default bg colors
$ice:             #43AAED;
$mint:            #68DBEA;
$rocketship:      #ED4A43;
$black:           #192129;
$white:           #fff;
$gray:            #08304A;

$accentColor:     $ice;

$backgroundColor: #fff;
$textColor:       $black;
$linkColor:       $ice;