.accent-color    { color: $accentColor; }
.accent-bg       { background-color: $accentColor; }
.black-color     { color: $black; }
.black-bg        { background-color: $black; }
.white-color     { color: $white; }
.white-bg        { background-color: $white; }

.mint-color       { color: $mint !important; }
.mint-bg          { background-color: $mint !important; }
.ice-color        { color: $ice !important; }
.ice-bg           { background-color: $ice !important; }
.rocketship-color { color: $rocketship !important; }
.rocketship-bg    { background-color: $rocketship !important; }