<div class='grid section-details'>
  <div class='col-6 col-offset-1'>
    <div class='h5 h-long text-bold'>
      We are a public-private partnership designed to enhance tech related job, entrepreneurial and educational opportunities for refugees and other underrepresented communities in Utah.
    </div>
    <div class='list-partners'>
      <h4 class='list-item list-item-title'>
        <span class='list-item-header'>Partners</span>
      </h4>
      <ul class='list-item'>
        <li class='list-item-header'>Presented by</li>
        <li class='list-item-logo'><img style='width:48px;' src='/wearemakers.io/images/logos/masteryacademy.png'></li>
        <li class='list-item-logo'><img style='width:48px;' src='/wearemakers.io/images/logos/uretc.png'></li>
      </ul>
      <ul class='list-item'>
        <li class='list-item-header'>Implementation partners</li>
        <li class='list-item-logo'><img style='width:80px;' src='/wearemakers.io/images/logos/goldman.png'></li>
        <li class='list-item-logo'><img style='width:84px;' src='/wearemakers.io/images/logos/adobe.png'></li>
        <li class='list-item-logo'><img style='width:118px;' src='/wearemakers.io/images/logos/microsoft.png'></li>
      </ul>
      <ul class='list-item'>
        <li class='list-item-header'>Government</li>
        <li class='list-item-logo'><img style='width:48px;' src='/wearemakers.io/images/logos/slc.png'></li>
        <li class='list-item-logo'><img style='width:106px;' src='/wearemakers.io/images/logos/dws.png'></li>
      </ul>
      <ul class='list-item'>
        <li class='list-item-header'>Donating</li>
        <li class='list-item-logo'><img style='width:48px;' src='/wearemakers.io/images/logos/traderjoes.png'></li>
        <li class='list-item-logo'><img style='width:84px;' src='/wearemakers.io/images/logos/testout.png'></li>
      </ul>
      <ul class='list-item'>
        <li class='list-item-header'>Fiscal<br> sponsors</li>
        <li class='list-item-logo'><img style='width:60px;' src='/wearemakers.io/images/logos/uacf.png'></li>
      </ul>
    </div>
  </div>
  <div class='col-4 text-tundra is-formatted opacity-8 text-details'>
    <p>
    We leverage skill-based volunteerism as well as targeted in-kind and financial donations to provide free training and tech certification pathways for qualified applicants who otherwise would not have access to these opportunities.
    </p>

    <p>
    We target individuals with demonstrated financial need, interest in tech fields, a strong desire for self-improvement and a history of community engagement.
    </p>

    <p>
    Our methodology centers around using infographic materials to distill information; facilitated group dialogue; and hands-on projects that nurture the inherent curiosity, self-confidence, communication and teamwork skills of participants.
    </p>
  </div>
</div>