<div class='grid section-refugee'>
  <div class='grid-item-6 grid-item-offset-1 grid-item-1100-7 grid-item-offset-1100-0 grid-item-900-8 grid-item-offset-900-2 grid-item-600-12 grid-item-offset-600-0'>
    <div class='h5 h-long text-bold'>
      We are a public-private partnership designed to enhance tech related job, entrepreneurial and educational opportunities for refugees and other underrepresented communities in Utah.
    </div>
    <div class='display-900-none'>
      {% include partners.html %}
    </div>
  </div>
  <div class='grid-item-4 grid-item-1100-5 text-tundra is-formatted opacity-8 text-details grid-item-900-8 grid-item-offset-900-2 grid-item-600-12 grid-item-offset-600-0'>
    <p>
    We leverage skill-based volunteerism as well as targeted in-kind and financial donations to provide free training and tech certification pathways for qualified applicants who otherwise would not have access to these opportunities.
    </p>

    <p>
    We target individuals with demonstrated financial need, interest in tech fields, a strong desire for self-improvement and a history of community engagement.
    </p>

    <p>
    Our methodology centers around using infographic materials to distill information; facilitated group dialogue; and hands-on projects that nurture the inherent curiosity, self-confidence, communication and teamwork skills of participants.
    </p>
  </div>

  <div class='grid-item-12 display-none display-900-block'>
    {% include partners.html %}
  </div>
</div>