<section class='section-events'>
  <header class='section-header'>
    Events
  </header>
  <div class='section-body'>
    <a class='card card-event'>
      <span class='card-header'>
        <span class='card-header-headline'>
          Maker's Day
        </span>
        <span class='card-header-subheadline'>
          @Pluralsight
        </span>
      </span>
      <span class='card-footer'>
        <img class='card-footer-headline' src='{{site.url}}/wearemakers.io/images/logos/events/pluralsight.png'>
        <span class='card-footer-subheadline'>
          March 18th, 2017
        </span>
      </span>
    </a>
    <span class='card card-event card-event-placeholder'>
    </span>
    <span class='card card-event card-event-placeholder'>
    </span>
    <a class='card card-event card-event cta'>
      <span class='card-header'>
        <span class='card-header-headline'>
          Want to collaborate on an event?
        </span>
      </span>
      <span class='card-footer'>
        <span class='card-footer-button button'>
          Contact us
        </span>
      </span>
    </a>
  </div>
</section>