<section class="hero hero-home">
  <section class='hero-bg' style='background-image: url("{{site.url}}/images/hero/1.jpg");'></section>
  
  <div class='grid grid-center-y'>
    <div class='grid-item-4 grid-item-offset-1'>
      <aside class='hero-text'>
        <h2 class='hero-text-header'>
          Our mission
        </h2>
        <h1 class='hero-text-body'>
          <span class='h h-short h3 text-rift'>Empower students through developing their tech skills</span>
        </h1>
        <section class='hero-text-footer'>
          <a href='' class='button button-ice'>Get involved</a>
          <a href='' class='button button-white-muted button-hollow'>Become a student</a>
        </section>
      </aside>
      </div>
  </div>
</section>

<footer class='row row-features'>
  <article class='card card-highlight'>
    <h3 class='card-header'>We develop students’ creative &amp; problem-solving skills</h3>
    <section class='card-body'>Classes use of innovative multi-cultural learning materials &amp; technologies like Virtual &amp; Augmented Reality.</section>
  </article>
  <article class='card card-highlight'>
    <h3 class='card-header'>We connect students with real-life professionals</h3>
    <section class='card-body'>Students learn from, and work with
skills-based corporate volunteers, who create an easy-to-learn visual curriculum.</section>
  </article>
  <article class='card card-highlight'>
    <h3 class='card-header'>We create tech-based stem opportunities</h3>
    <section class='card-body'>Our program builds pathways for students to enter into employment, entrepreneurship &amp; college.</section>
  </article>
</footer>