<section class='grid section-impact'>
  <header class='grid-item-5 grid-item-offset-1 grid-item-800-6 grid-item-offset-800-0 grid-item-650-10 grid-item-offset-650-1 grid-item-400-12 grid-item-offset-400-0'>
    <h3 class='section-header h1 h h-tight text-bold'>Let’s put a dent in the universe</h3>
    <section class='section-body'>
      Our courses empower students to pursue tech careers. Mindfulness and brain building, game design, web development, or IT, we offer something for every creative mind.
    </section>
    <a href='{{site.url}}/courses' class='button'>View courses</a>
  </header>
  <div class='grid-item-5 grid-item-800-6 grid-item-650-10 grid-item-400-12'>
    <ul class='section-footer list list-overview'>
      <section class='list-item list-item-title'>
        Stats provided by <a target='_blank' href='https://code.org/promote' class='list-item-title-link'>Code.org</a>
      </section>
      <li class='list-item'>
        <img class='list-item-icon' style='width: 37px;' src='{{site.url}}/images/icons/heart.png'>
        <h5 class='list-item-header'>Students think art, design & computer science classes are the best</h5>
        <section class='list-item-body'>Students rank art/design (#1) and computer science course (#3) among their favorites.</section>
      </li>
      <li class='list-item'>
        <img class='list-item-icon' style='width: 40px;' src='{{site.url}}/images/icons/monitor.png'>
        <h5 class='list-item-header'>500,000+ open jobs</h5>
        <section class='list-item-body'>There is an insane number of well-paying computer science jobs just within the USA.</section>
      </li>
      <li class='list-item'>
        <img class='list-item-icon' style='width: 40px;' src='{{site.url}}/images/icons/pencil.png'>
        <h5 class='list-item-header' style='max-width: 276px;'>Only 40% of schools teach programming</h5>
        <section class='list-item-body'>Less than half of schools in the United States teach computer programming.</section>
      </li>
    </ul>
  </div>
</section>