<article class='pullquote'>
  <div class='pullquote-bg' style='background-image: url({{site.url}}/wearemakers.io/images/hero/2.jpg)'></div>
  <div class='pullquote-container'>
    <h4 class='pullquote-container-header'>
      “Our aim is to create a million makers...
    </h4>
    <section class='pullquote-container-body'>who are incredibly engaged and excited about science, technology, arts &amp; math.</section>
    <footer class='pullquote-container-footer'>Joseph Spence, Co-convener</footer>
  </div>
</article>