<section class='section section-barriers'>
  <h3 class='section-header'>
    Refugees face significant barriers to economic &amp; educational success upon arrival.
  </h3>
  <ul class='section-body'>
    <li class='section-body-item item item-barrier'>
      <img src='{{site.url}}/images/our-students/refugees/english.png' class='item-image'>
      <h6 class='item-body'>
        Learning <br> English
      </h6>
    </li>
    <li class='section-body-item item item-barrier'>
      <img src='{{site.url}}/images/our-students/refugees/culture.png' class='item-image'>
      <h6 class='item-body'>
        Navigating a <br> new culture
      </h6>
    </li>
    <li class='section-body-item item item-barrier'>
      <img src='{{site.url}}/images/our-students/refugees/us.png' class='item-image'>
      <h6 class='item-body'>
        Understanding <br> American systems
      </h6>
    </li>
    <li class='section-body-item item item-barrier'>
      <img src='{{site.url}}/images/our-students/refugees/tech.png' class='item-image'>
      <h6 class='item-body'>
        Technical <br> skills barriers
      </h6>
    </li>
  </ul>
  <h2 class='section-footer'>
    <span class='section-footer-text'>
      We empower refugees with our courses that set them up for success in the tech industry.
    </span>
  </h2>
</section>

<footer class='row row-features row-features-refugees'>
  <article class='card card-highlight'>
    <h3 class='card-header'>We develop students’ creative &amp; problem-solving skills</h3>
    <section class='card-body'>Classes use of innovative multi-cultural learning materials &amp; technologies like Virtual &amp; Augmented Reality.</section>
  </article>
  <article class='card card-highlight'>
    <h3 class='card-header'>We connect students with real-life professionals</h3>
    <section class='card-body'>Students learn from, and work with
skills-based corporate volunteers, who create an easy-to-learn visual curriculum.</section>
  </article>
  <article class='card card-highlight'>
    <h3 class='card-header'>We create tech-based stem opportunities</h3>
    <section class='card-body'>Our program builds pathways for students to enter into employment, entrepreneurship &amp; college.</section>
  </article>
</footer>

<div class='section section-button'>
  <a href='{{site.url}}/courses' class='button button-ice'>View Courses</a>
</div>