<section class='section section-countries'>
  <div class='section-body'>
    <article class='card card-countries'>
      <header class='card-header'>
        Students from
      </header>
      <div class='card-body'>
        11
      </div>
      <footer class='card-footer'>
        Countries
      </footer>
    </article>
    <article class='card card-country-bhutan'>
      <header class='card-header'>
        Bhutan
      </header>
    </article>
    <article class='card card-country-iraq'>
      <header class='card-header'>
        Iraq
      </header>
    </article>
    <article class='card card-country-congo'>
      <header class='card-header'>
        Congo
      </header>
    </article>
    <article class='card card-country-sudan'>
      <header class='card-header'>
        Sudan
      </header>
    </article>
    <article class='card card-country-afghanistan'>
      <header class='card-header'>
        Afghanistan
      </header>
    </article>
    <article class='card card-country-south-sudan'>
      <header class='card-header'>
        South Sudan
      </header>
    </article>
    <article class='card card-country-liberia'>
      <header class='card-header'>
        Liberia
      </header>
    </article>
    <article class='card card-country-myanmar'>
      <header class='card-header'>
        Myanmar
      </header>
    </article>
    <article class='card card-country-somalia'>
      <header class='card-header'>
        Somalia
      </header>
    </article>
    <article class='card card-country-sierra-leone'>
      <header class='card-header'>
        Sierra Leone
      </header>
    </article>
    <article class='card card-country-burundi'>
      <header class='card-header'>
        Burundi
      </header>
    </article>
  </div>
</section>