<section class='section section-countries'>
  <div class='section-body'>
    <article class='card card-country card-countries'>
     <img class='card-image' src='/images/students/refugees/countries.png'>
    </article>
    <article style='background-image: url("/images/students/refugees/bhutan.jpg");' class='card card-country card-country-bhutan'>
      <header class='card-header'>
        Bhutan
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/congo.jpg");' class='card card-country card-country-congo'>
      <header class='card-header'>
        Congo
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/iraq.jpg");' class='card card-country card-country-iraq'>
      <header class='card-header'>
        Iraq
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/sudan.jpg");' class='card card-country card-country-sudan'>
      <header class='card-header'>
        Sudan
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/liberia.jpg");' class='card card-country card-country-liberia'>
      <header class='card-header'>
        Liberia
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/myanmar.jpg");' class='card card-country card-country-myanmar'>
      <header class='card-header'>
        Myanmar
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/somalia.jpg");' class='card card-country card-country-somalia'>
      <header class='card-header'>
        Somalia
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/south-sudan.jpg");' class='card card-country card-country-south-sudan'>
      <header class='card-header'>
        South Sudan
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/afghanistan.jpg");' class='card card-country card-country-afghanistan'>
      <header class='card-header'>
        Afghanistan
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/sierra-leone.jpg");' class='card card-country card-country-sierra-leone'>
      <header class='card-header'>
        Sierra Leone
      </header>
    </article>
    <article style='background-image: url("/images/students/refugees/burundi.jpg");' class='card card-country card-country-burundi'>
      <header class='card-header'>
        Burundi
      </header>
    </article>
  </div>
</section>