<section class="hero hero-student">
  <section class='hero-bg' style='background-image: url("/images/students/refugees/hero.jpg");'></section>
    <aside class='hero-text'>
      <h1 class='hero-text-header h h3 text-rift h-short'>
        We develop technical prowess for refugees from over ten countries
      </h1>
      <h3 class='hero-text-body'>
        <span class=''>Across the spectrum, refugee communities have demonstrated a strong interest in technology and motivation to learn. However, limited access and opportunity, largely due to cost, location, transportation options and knowledge of resources often prevent full use of resources available. </span>
      </h3>
      <a class='hero-text-footer' data-modal-toggle='video' onClick='modalWindow(this);'>
        <i class='hero-text-footer-icon'></i>
        <span class='hero-class-footer-label'>
          <span class='hero-text-footer-label-heading'>Watch a video</span>
          <span class='hero-text-footer-label-subheading''>2m 34s</span>
        </span>
      </a>
    </aside>
</section>
{% include our-students/refugees/video.html %}