<div class='grid section-refugee'>
  <div class='grid-item-5 grid-item-offset-1 grid-item-600-12 grid-item-offset-600-0'>
    <figure class='figure figure-refugee'>
      <div class='figure-image' style='background-image: url({{site.url}}/images/students/refugees/definition.jpg)'></div>
      <h2 class='figure-heading'>Refugee</h2>
    </figure>
  </div>
  <div class='grid-item-4 grid-item-offset-1 grid-item-1100-5 grid-item-600-12 grid-item-offset-600-0 section-refugee-aside'>
    <header class='section-header'>
      <h6 class='section-header-headline'>
        <img class='section-header-image' src='{{site.url}}/images/students/refugees/pronunciation.png'>
        &middot; noun
      </h6>
      <p class='section-header-subheadline'>a person who has been forced to leave their country in order to escape war, persecution, or natural disaster.</p>
    </header>
    <footer class='section-footer'>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image card-image-wide'>
            <img class='card-image-bg' src='{{site.url}}/images/students/refugees/icon-globe.png'>
          </i>
          <header class='card-header'>
            20,000,000
          </header>
          <footer class='card-footer'>
            Refugees worldwide
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
            <img class='card-image-bg' src='{{site.url}}/images/students/refugees/icon-utah.png'>
          </i>
          <header class='card-header'>
            60,000
          </header>
          <footer class='card-footer'>
            Refugees in Utah
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image card-image-wide'>
            <img class='card-image-bg' src='{{site.url}}/images/students/refugees/icon-computer.png'>
          </i>
          <header class='card-header'>
            5,000
          </header>
          <footer class='card-footer'>
            Open computer  <br>science jobs in Utah
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
            <img class='card-image-bg' src='{{site.url}}/images/students/refugees/icon-calculator.png'>
          </i>
          <header class='card-header'>
            $75,538
          </header>
          <footer class='card-footer'>
            Avg. computer science  <br>starting salary in Utah
          </footer>
        </aritcle>
    </footer>
  </div>
</div>
<div class='section section-uretc'>
  <header class='section-header'>
    Working in  conjunction  with
  </header>
  <img class='section-image' src='/images/students/refugees/logo.png'>
</div>