<div class='grid section-refugee'>
  <div class='grid-item-5 grid-item-offset-1'>
    <figure class='figure figure-refugee'>
      <img class='figure-image' src='/wearemakers.io/images/refugee/couple.png'>
    </figure>
  </div>
  <div class='grid-item-4 grid-item-offset-1'>
    <header class='section-header'>
      <h6 class='section-header-heading'>&middot; noun</h6>
      <p class='section-header-heading'>a person who has been forced to leave their country in order to escape war, persecution, or natural disaster.</p>
    </header>
    <footer class='section-footer grid grid-nested'>
      <div class='grid-item-6'>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
          </i>
          <header class='card-header'>
            20,000,000
          </header>
          <footer class='card-footer'>
            Refugees worldwide
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
          </i>
          <header class='card-header'>
            60,000
          </header>
          <footer class='card-footer'>
            Refugees in Utah
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
          </i>
          <header class='card-header'>
            5,000
          </header>
          <footer class='card-footer'>
            Open computer science jobs in Utah
          </footer>
        </aritcle>
        <aritcle class='card card-stat-refugee'>
          <i class='card-image'>
          </i>
          <header class='card-header'>
            $75,538
          </header>
          <footer class='card-footer'>
            Avg. computer science starting salary in Utah
          </footer>
        </aritcle>
      </div>
    </footer>
  </div>
</div>
<div class='section section-uretc'>
  <header class='section-header'>
    Working in  conjunction  with
  </header>
  <figure class='section-image'>
  </figure>
</div>